/* Стили для общей таблицы */
.fc {
    margin: 0px 50px 30px 50px;
}


/* Стили для ивентов */
.fc-daygrid-event-harness {
    float: right;
    background-color: #EFEFEF;
    border-radius: 8px;
    margin-right: 11px;
    margin-bottom: 3px;
    p {
        padding: 2px 6px;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .fc-h-event .fc-event-main {
        background-color: #EFEFEF;
        color: #0D0C0C;
        font-size: 20px;
        .past {
            background-color: #EFEFEF;
            color: #B3B3BC;
        }
    } 
}
.fc .fc-daygrid-day-events {
    display: flex;
    flex-direction: column;
    width: fit-content;
    float: right;
}


/* Стили для хедера */
.header {
    position: absolute;
    top: 2rem;
    left: 3.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    &__logo {
        margin-right: 20px;
    }
    &__alt {
        font-size: 26px;
        margin-right: 19px;
        font-weight: bold;
    }
    &__heading {
        font-size: 64px;
        position: relative;
        top: -0.5rem;
        left: 1rem;
        display: inline-block;
        & span {
            color: #F51B1B;
        }
    }
}


/* Стили для тулбара таблицы */
.fc .fc-toolbar-chunk:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
    & > button:not(.fc-authButton-button) {
        margin-right: 20px;
    }
    .fc-toolbar-title {
        font-size: 26px;
        text-transform: capitalize;
    }
    .fc-button {
        background-color: #EFEFEF;
        width: 64px;
        height: 48px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
            color: black;
            font-size: 2.5rem;
        }
    }
    .fc-prev-button {
        margin-right: 0 !important;
        margin-left: 32px !important;
    }
    .fc-next-button {
        margin-right: 134px !important;
        margin-left: 8px !important;
    }
    .fc-authButton-button {
        background-color: #0D0C0C;
        color: #EFEFEF;
        width: 124px;
        height: 60px;
        border-radius: 12px;
        &:hover {
            background-color: #F51B1B;
            color: #FFFFFF;
        }
        &:disabled {
            background-color: #B3B3BC;
            color: #EFEFEF;
        }
    }
}


/* Стили для таблицы с датами */
.fc .fc-scroller-harness-liquid {
    border-radius: 24px !important;
    border: 1px solid #B3B3BC !important;
    border-collapse: collapse;
}
.fc .fc-scroller {
    overflow: hidden !important;
}
.fc .fc-scrollgrid-sync-table {
    width: calc(100% + 20px) !important;
}
.fc .fc-daygrid-day-number {
    padding-top: 10px;
    padding-right: 14px;
}
.fc tr[role="row"]:not(:last-child) {
    border-right: 1px solid #B3B3BC !important;
    border-bottom: 1px solid #B3B3BC !important;
}
.fc .fc-scrollgrid-sync-table .fc-daygrid-day {
    border-right: 1px solid #B3B3BC !important;
}
.fc-scrollgrid-sync-inner:not(.fc-daygrid-day-frame.fc-scrollgrid-sync-inner) {
    font-size: 24px;
    text-transform: capitalize;
    float: right;
}
.fc-daygrid-day-number {
    font-size: 20px;
}