/* Общие стили документа*/
@font-face {
    font-family: "Redcollar";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
         url("/fonts/Redcollar.woff2") format("woff2")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none !important;
    outline: none;
}
body {
    font-family: 'Redcollar', sans-serif;
}