.modal__gallery__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .modal__gallery__desc {
        font-size: 20px;
    }
    .modal__gallery__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        .prev, .next {
            width: 60px;
            height: 42px;
            background-color: #EFEFEF !important;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
                width: 24px;
                height: 24px;
            }
        }
        .prev {
            margin-right: 20px;
            img {
                transform: rotate(180deg);
            }
        }
        .swiper-button-disabled {
            background-color: #EFEFEF;
            img {
                filter: opacity(.2);
            }
        }
    }
}
.modal__gallery__list {
    margin-bottom: 40px;
    .slide-photo {
        width: 250px;
        height: 140px;
        border-radius: 24px;
    }
    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
        &-bullet {
            width: 32px;
            height: 4px;
            display: block;
            background-color: #EFEFEF;
            margin-right: 12px;
            border-radius: 4px;
            cursor: pointer;
            &-active {
                background-color: #F51B1B;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .modal__gallery__header{
        .modal__gallery__desc {
            font-size: 20px;
        }
    }
    .modal__gallery__list {
        margin-bottom: 24px;
        .slide-photo {
            width: 250px;
            height: 150px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .modal__gallery__list {
        margin-bottom: 50px;
        .slide-photo {
            width: 250px;
            height: 160px;
        }
    }
}