@use '../../shared/styles/mixins';
@use '../../shared/styles/variables';

/* Стили для общей таблицы */
.fc {
    margin: 0 50px 30px 50px;
    height: 800px !important;
    margin-bottom: 0;

    /* Стили для тулбара таблицы */
    .fc-toolbar-chunk:nth-child(3) {
        @include mixins.flex();
        margin-top: 40px;
        margin-bottom: 20px;
        .fc-toolbar-title {
            font-size: 20px;
            text-transform: capitalize;
        }
        .fc-button {
            background-color: variables.$grey-light;
            width: 64px;
            height: 48px;
            border-radius: 8px;
            @include mixins.flex();
            & span {
                color: black;
                font-size: 40px;
            }
        }
        .fc-prev-button {
            margin-left: 20px !important;
        }
        .fc-next-button {
            margin-right: 100px !important;
        }
        .fc-authButton-button {
            background-color: variables.$black;
            color: variables.$grey-light;
            width: 124px;
            height: 60px;
            border-radius: variables.$rounded;
            &:hover {
                background-color: variables.$red;
                color: variables.$white;
            }
            &:disabled {
                background-color: variables.$grey-dark;
                color: variables.$grey-light;
            }
        }

        // Для аутентифицированного пользователя
        .fc-createEventButton-button {
            background-color: variables.$black;
            color: variables.$grey-light;
            border-radius: variables.$rounded;
            font-size: 30px;
            width: 86px;
            height: 60px;
            &:hover {
                background-color: variables.$red;
                color: variables.$white;
            }
            &:disabled {
                background-color: variables.$grey-dark;
                color: variables.$grey-light;
            }
        }
        .fc-avatarButton-button {
            margin-left: 33px;
            display: none;
            img {
                width: 80px;
                height: 80px;
            }
        }
    }

    /* Стили для ивентов */
    .fc-daygrid-event-harness {
        float: right;
        background-color: variables.$grey-light;
        border-radius: 8px;
        margin-right: 11px;
        margin-bottom: 5px;
        cursor: pointer;
        p {
            padding: 2px 6px;
            max-width: 130px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .fc-h-event .fc-event-main {
            background-color: variables.$grey-light;
            color: variables.$black;
            font-size: 16px;
            font-family: 'TT Commons', sans-serif;
            font-weight: 500;
            .past {
                background-color: variables.$grey-light;
                color: variables.$grey-dark;
            }
        }
        .fc-h-event.joined .fc-event-main  {
            p::before {
                display: inline-block;
                content: '';
                width: 8px;
                height: 8px;
                background-color: variables.$red;
                border-radius: 50%;
                margin-right: 5px;
                margin-bottom: 3px;
            }
        }
        .fc-h-event.created-by .fc-event-main {
            background-color: variables.$red !important;
            border-radius: 8px;
            p::before {
                display: inline-block;
                content: url('/public/images/star.svg');
                margin-right: 5px;
            }
        }
        .fc-h-event {
            background-color: white !important;
        }
    }
    .fc-daygrid-day-events {
        @include mixins.flex(column, none, none);
        width: fit-content;
        float: right;
    }

    /* Стили для таблицы с датами */
    .fc-scroller-harness-liquid {
        border-radius: 24px !important;
        border: 1px solid variables.$grey-dark !important;
        border-collapse: collapse;
        height: 585px !important;
    }
    .fc-scrollgrid-sync-table {
        width: 100% !important;
        height: 630px !important;
    }

    // Хедер таблицы
    .fc-scrollgrid-sync-inner:not(.fc-daygrid-day-frame.fc-scrollgrid-sync-inner) {
        font-size: 18px;
        text-transform: capitalize;
        float: right;
    }

    // Скролл
    .fc-scroller {
        overflow: hidden !important;
    }

    // Для каждого дня
    .fc-scrollgrid-sync-table .fc-daygrid-day {
        border-right: 1px solid variables.$grey-dark !important;
        width: 150px;
        height: 96px !important;
    }

    // Для числа в каждом дне
    .fc-daygrid-day-number {
        font-size: 20px;
        padding-top: 10px;
        padding-right: 14px;
    }

    // Для каждой строки
    tr[role="row"]:not(:last-child) {
        border-right: 1px solid variables.$grey-dark !important;
        border-bottom: 1px solid variables.$grey-dark !important;
    }
}

/* Стили для хедера */
.header {
    @include mixins.flex();
    position: absolute;
    top: 3.2rem;
    left: 3.2rem;
    height: fit-content;
    &__logo {
        margin-right: 35px;
        &__title {
            font-size: 20px;
            margin-right: 19px;
            font-weight: 700;
        }
        &__subtitle {
            font-size: 40px;
            position: relative;
            top: -0.2rem;
            left: 1rem;
            display: inline-block;
            & span {
                color: variables.$red;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .fc {
        .fc-toolbar-chunk:nth-child(3) {
            .fc-createEventButton-button, .fc-authButton-button {
                background-color: variables.$white;
                color: variables.$black;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .header {
        &__logo {
            &__title {
                font-size: 24px;
            }
            &__subtitle {
                font-size: 44px;
            }
        }
    }
    .fc {
        .fc-toolbar-chunk:nth-child(3) {
            .fc-toolbar-title {
                font-size: 24px;
            }
        }
        .fc-daygrid-body {
            width: 1322px !important;
        }
        .fc-scrollgrid-sync-table {
            width: 1420px !important;
            height: 530px !important;
        }
        .fc-daygrid-event-harness {
            p {
                max-width: 160px;
            }
            .fc-h-event .fc-event-main {
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .header {
        &__logo {
            &__subtitle {
                font-size: 46px;
            }
        }
    }
    .fc {
        .fc-toolbar-chunk:nth-child(3) {
            .fc-toolbar-title {
                font-size: 26px;
            }
        }
        .fc-daygrid-body {
            width: 1820px !important;
        }
        .fc-scroller-harness-liquid {
            overflow-x: hidden !important;
            border-radius: 24px !important;
            border: 1px solid variables.$grey-dark !important;
            border-collapse: collapse;
            height: 710px !important;
        }
        .fc-scrollgrid-sync-table {
            width: 100% !important;
            height: 630px !important;
            .fc-daygrid-day {
                border-right: 1px solid variables.$grey-dark !important;
                width: 150px;
                height: 118px !important;
            }
        }
        .fc-daygrid-event-harness {
            p {
                max-width: 230px;
                font-size: 20px;
            }
        }
    }
}
