@use '../../shared/styles/variables';
@use '../../shared/styles/mixins';

.modal {
    button.hide {
        display: none;
    }
    .modal-auth__form-block {
        @include mixins.flex(column);
        .modal-auth__form {
            margin-top: 40px;
            .modal-auth__input-block {
                position: relative;
                margin-bottom: 40px;
                label {
                    position: absolute;
                    color: variables.$grey-dark;
                    font-size: 14px;
                    font-family: 'TT Commons', sans-serif;
                    font-weight: 400;
                    top: 20px;
                    left: 16px;
                    animation: labelMove .2s linear forwards paused;
                }
                .modal-auth__input {
                    width: 346px;
                    height: 60px;
                    border: 1px solid variables.$black !important;
                    padding: 16px 16px 0px 16px;
                    border-radius: variables.$rounded;
                }
                .modal-auth__input:focus + label {
                    animation-play-state: running;
                }
                .modal-auth__input.isInvalid {
                    border: 1px solid variables.$red !important;
                }
            }
            .modal-auth__button {
                background-color: variables.$black;
                color: variables.$grey-light;
                width: 346px;
                height: 60px;
                border-radius: variables.$rounded;
                font-size: 18px;
                font-family: 'Redcollar', sans-serif;
                cursor: pointer;
                &:hover {
                    background-color: variables.$red;
                    color: variables.$white;
                }
                &:disabled {
                    background-color: variables.$grey-light;
                    color: variables.$grey-dark;
                }
            }
        }
    }
}
.hide {
    display: none;
}

@keyframes labelMove {
    100% {
        margin-top: 0px;
    }
    100% {
        margin-top: -10px;
    }
}
